body {
    background-color: black;
    text-align: center;
}

h1 {
    color: bisque;
    font-weight: bold;
    font-size: 48px;
}

h2 {
    color: #4cb2f7;
}

h3 {
    color: green;
}

#restartButton {
    cursor: pointer;
    font-size: 40px;
    background: none;
    border: 0;
}

#hintButton {
    cursor: pointer;
    font-size: 40px;
    background: none;
    border: 0;
    position:absolute;

}

#diffButton{
    cursor: pointer;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    transition: 555ms;
}

#diffButton:hover{
    background-color: gold;

}

.board {
    width: auto;
    margin: 10px auto;
    background-color: aliceblue;
    border: 15px;
    border-style: groove;
    border-color: red;
    border-radius: 10px;

}

table {
    border-collapse: separate;
}

.cell {
    text-align: center;
    width: 40px;
    height: 45px;
    border-radius: 7px;
    background-color: rgb(7, 30, 73);
    color: red;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}

.cell-revealed {
    background-color: lightgray;
}

footer {
    text-align: left;
    color: DarkSalmon;
}

span {
    color: azure;
}
